@font-face {
    font-family: "Trebuchet";
    src: url("./fonts/Trebuchet.ttf");
}

*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: rgb(84, 83, 139);
    font-family: "trebuchet", sans-serif;
    color: rgb(63, 89, 205);
}

header,main,footer{
    background-color: rgb(71, 101, 182);
    margin-top: 50px;
}

header{
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logos > img{
    width: 60%;
    
}

#logos{
    width: 430px;
    height:180px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}



#menu{
    width: 730px;
    height:85px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#menu > li{
    list-style: none;
    font-size: 30px ;
    line-height: 85px;
    padding: 0px 10px;
}

#menu > li:hover{
    background-color: rgb(39, 30, 124);
   border-radius: 10px;
    color: rgb(255, 255, 255);
   cursor: pointer;
}
main{
    height: 840px;
}
#video, #redes, #login, #apoio{
    background-color: white;
}
#geral{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#video > iframe{
    margin: 20px;
}

#lado-direito{
    height: 35%;
    width: 495px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#redes{
    height: 35%;
    text-align: center;
}
#login{
    height: 64%;
}
 
a{
    color: rgb(86, 139, 182);
}

.opcoes{
    }

.opcoes ::placeholder{
    text-align: center;
    color: rgb(255, 255, 255);
}

#mais{
    display: flex;
    justify-content: space-around;
}

button{
    background-color: springgreen;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}

button::active{
    background-color: rgb(72, 87, 134);
}
#apoio{
    height: 190%;
    width: 90%;
    text-align: center;
}

#apoio > img{
  margin-top: -40;
}
footer{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item{
    background-color: rgb(255, 255, 255);
    height: 440px;
    width: 440px;
    border-radius: 20px;

}

h1{ 
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
}

.item > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}

.item > img{
    width: 50%;
   margin-top: 20px;
}

.item > h2{
    text-align: start;
    margin: 20px;
    font-weight: 400;
}

#geral2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.CARDS{
    height: 320px;
    width: 390px;
    background-color: rgb(255, 255, 255);
}

.CARDS > ul{
    width: 80%;
    margin: auto;
}

#texto{
    height: 320px;
    width: 390px;
}
